{% extends 'admins/base_site.html' %}
{% load static %}

{% block content %}
<div class="row">
<div class="card col offset-s3 s6">
	<div class="card-content">
	<h1> Add Student </h1>
	<form method="POST" >
		{% csrf_token %}
	    <p class="red-text"> {{ error_message }} </p>
		{% for field in form %}
	    <div class="fieldWrapper">
	        <span class="red-text">{{ field.errors }}</span>
	        {{ field.label_tag }} {{ field }}
	        {% if field.help_text %}
	        <p class="help green-text">{{ field.help_text|safe }}</p>
	        {% endif %}
	    </div>
	    {% endfor %}
		<button class="btn orange waves-effect waves-light" type="submit" value="Register"><i class="material-icons right">send</i>Register</button>
	</form>
	</div>
	</div>
	</div>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'admins:addcourse' %}">Add Course</a></li>
    <li><a href="{% url 'admins:logout' %}">Sign out</a></li>
{% endblock %}
	



	

