{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title font="arial">Audacity</title>
  <link rel="stylesheet" type="text/css" href="{% static 'feeder/materialize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'admins/bootstrap-material-datetimepicker.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    /*main {
      flex: 1 0 auto;
    }*/
  </style>
  
</head>
<body>
<header>
<div class="navbar-fixed">
<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{% url 'admins:index' %}"> {{ user.get_full_name }} </a> </li>
          <li><a href="{% url 'admins:addstudent' %}">Add Student</a> </li>

          {% block name %}
            
          {% endblock %}
        </ul>
      <a href="{% url 'admins:index' %}" class="brand-logo center">Audacity</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% block navbar %}
            <li><a href="courses">Courses</a></li>
          {% endblock %}
        </ul>
    </div>
  </div>
</nav>
</div>
</header>
<div class="container">
{% block content %}

{% endblock %}
</div>
<script type="text/javascript" src="{% static 'admins/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'feeder/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'admins/jquery.formset.js' %}"></script>

<script type="text/javascript">
  
  // $('#date-format').bootstrapMaterialDatePicker({ format : 'dddd DD MMMM YYYY - HH:mm' });
  $(document).ready(function() {
      $('select').material_select();
  });
  

</script>
{% block script %}
{% endblock %}
</body>