
{% extends "feeder/base_site.html" %}
{% load static %}


{% block content %}
	<div class="row">
	<div class="col s6">
	<h4> Upcoming assigments/exams </h4>
	{% if assignments %}
	<ul class="collection">
		{% for assignment in assignments %}
			<a href="{% url 'feeder:assignment' assignment.id %}" class="black-text">
			<li class="collection-item avatar">
		      <i class="material-icons circle green">assignment</i>
		      <span class="title"><b>{{ assignment.assignment_name }}</b></span>
		         	{{ assignent.description }}
		      <p>{{ assignment.course }} <br>
		         {{ assignment.deadline }} 
 		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">assignment</i></a>
		    </li>
		    </a>
		{% endfor %}
	</ul>
	{% else %}
	<div class="card">
		<div class="card-content center">
			<h5> No upcoming assignments present. Add an assignment to view it. </h5>
		</div>
	</div>
	{% endif %}
	</div>
	<div class="col s6">
	<h4> Older assignments/exams </h4>
	{% if old_assignments %}
	<ul class="collection">
		{% for assignment in old_assignments %}
			<a href="{% url 'feeder:assignment' assignment.id %}" class="black-text">
			<li class="collection-item avatar">
		      <i class="material-icons circle red">assignment</i>
		      <span class="title"><b>{{ assignment.assignment_name }}</b></span>
		         	{{ assignent.description }}
		      <p>{{ assignment.course }} <br>
		         {{ assignment.deadline }} 
 		      </p>
		      <a href="#!" class="secondary-content"><i class="material-icons">assignment</i></a>
		    </li>
		    </a>
		{% endfor %}
	</ul>
	{% else %}
	<div class="card">
		<div class="card-content center">
			<h5> No upcoming assignments present. Add an assignment to view it. </h5>
		</div>
	</div>
	{% endif %}
	</div>
	</div>
{% endblock %}

{% block navbar %}
    <li><a href="courses">Courses</a></li>
    <li><a onclick="signOut();" href="{% url 'feeder:logout' %}">Sign out</a></li>
{% endblock %}
{% block name %}
    {{ user.get_full_name }}
{% endblock %}