{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title font="arial">Audacity</title>
  {# <link rel="stylesheet" type="text/css" href="styles/nav-bar.css"> #}
  {# <link rel="stylesheet" type="text/css" href="styles/home.css"> #}
  {# <link rel="stylesheet" type="text/css" href="materialize/css/materialize.css"> #}
  <link rel="stylesheet" type="text/css" href="{% static 'feeder/materialize.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
  </style>
  
</head>
<body>
<header>
<div class="navbar-fixed">
<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Audacity</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="home.html">Home</a></li>
          <li><a href="aboutme.html">About Me</a></li>
          <li><a href="interests.html">Interests</a></li>
          <li><a href="timetable.html">Timetable</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="accordion.html">Pokemon</a></li>
          <li><a href="form.html">Form</a></li>
          <li><a href="floorplan.html">Floor Plan</a></li>
        </ul>
    </div>
  </div>
</nav>
</div>
</header>

{% block content %}

{% endblock %}

<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{% static 'feeder/materialize.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
});
</script>
</body>