
{% extends "feeder/base_site.html" %}
{% load static %}


{% block content %}
	<h3>{{ feedback.fb_name }} </h3> <hr>
	{% for question in questions %}
		  <div class="section">
		    <h5> {{ question.question_text }} </h5>
		    {% if question.question_type == 'text' and question.answer_set != None %}
		    	<p> {{ question.answer_set }} </p>
		    {% elif question.rating_answer %}
		    	<p> {{ question.rating_answer.responses1 }} </p>
		    	<p> {{ question.rating_answer.responses2 }} </p>
		    	<p> {{ question.rating_answer.responses3 }} </p>
		    	<p> {{ question.rating_answer.responses4 }} </p>
		    	<p> {{ question.rating_answer.responses5 }} </p>
		    {% else %}
		    	<p> No responses yet. </p>
		    {% endif %}
		  </div>
		<div class="divider"></div>
	{% endfor %} 
{% endblock %}

{% block navbar %}
    <li><a href="courses">Courses</a></li>
    <li><a onclick="signOut();" href="{% url 'feeder:logout' %}">Sign out</a></li>
{% endblock %}
{% block name %}
    {{ user.get_full_name }}
{% endblock %}