{% extends "feeder/base_site.html" %}
{% load static %}
{% block content %}
	<h1 class="center"> Register Page, Welcome </h1>
	<div class="row">
	<div class="card white col offset-s4 s4">
	<div class="card-content">
	<form method="POST">
		{% csrf_token %}
	    <p class="red-text"> {{ error_message }} </p>
		{% for field in form %}
	    <div class="fieldWrapper">
	        <span class="red-text">{{ field.errors }}</span>
	        {{ field.label_tag }} {{ field }}
	        {% if field.help_text %}
	        <p class="help green-text">{{ field.help_text|safe }}</p>
	        {% endif %}
	    </div>
	    {% endfor %}
		<button class="btn" type="submit" value="Register"><i class="material-icons right">send</i>Register</button>
	</form>
	</div>
	</div>
	</div>
{% endblock %}


{% block navbar %}
    <li><a href="{% url 'feeder:login' %}">Login</a></li>
    <li><a href="{% url 'feeder:register' %}">Register</a></li>   
{% endblock navbar %}